<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Property Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{propertyController.property.propertyId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{propertyController.property.address}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">No of Bedrooms: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "No-Bedrooms" >#{propertyController.property.numberOfBedrooms}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Price: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Price" >
                                #{propertyController.property.price}
                                 <f:convertNumber currencyCode="AUD" type="currency" />
                            </h:outputLabel>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Size: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Size" >#{propertyController.property.size}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Contact Person: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "ContactName" >#{propertyController.property.contactPerson.toString()}</h:outputLabel>    
                        </td>
                    </tr>
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="faces/index.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

